#gameBoard {
  display: flex;
  flex-direction: column-reverse;
  outline: 1px solid black;
  width: 500px;
  height: 700px;
  margin: auto;
  justify-items: center;
}

.roundRows {
  border: 1px solid black;
  width: 488px;
  height: 58px;
  margin: 5px;
  background-color: rgb(243, 51, 51);
  /* box-shadow: -2px -2px 1px red; */
  
}

div.keyPegGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  float: left;
  width: 58px;
  height: 58px;
  background-color: rgb(148, 148, 148);
  
}

.keyPegGrid > .keyPegHole {
  width: 28px;
  height: 28px;
  background-color: rgb(175, 177, 179);
  display: grid;
  align-items: center;
  
}

.keyPeg {
  border-radius: 50%;
  position: relative;
  height: 70%;
  width: 70%;
  background-color: black;
  margin: auto;
  
  
}
  

.codePegRow {
  float: right;
  width: 426px;
  height: 58px;
  background-color: lightcyan;
  
  
}

.codePegHole {
  float: left;
  margin: auto;
  width: 25%;
  height: 100%;
  background-color: darkslategray;
}

.codePeg {
  position: relative;
  margin: auto;
  height: 50px;
  width: 50px;
  top: 4px;
  border-radius: 50%;
  background-color: black;
}