#gameBoard {
  display: flex;
  flex-direction: column-reverse;
  outline: 1px solid black;
  width: 48vw;
  height: 85vh;
  margin: auto;
  justify-items: center;
}

div.roundRows {
  outline: 1px solid black;
  width: 98%;
  height: 9%;
  margin: auto;
  padding: 1px;
  
}